body {
    background-color: rosybrown ;
}

header, footer {
    text-align: center;
    display:block;
    background-color: burlywood;
    
}

#imagen {
    width: fit-content;
}

footer {
    height: 100px;
}

.pie {
    height: fit-content;
    padding: 50px;
}

.ubicacion {
    text-align: center;
}
