body {
    background-color: rosybrown ;
}

header, footer {
    text-align: center;
    display:block;
    background-color: burlywood;
    
}

header {
    margin-block-end: 10px; 
    padding-bottom: 5px;   
}

nav{
    font-family: Arial, Helvetica, sans-serif;
}

.nav {
    background-color: burlywood;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    text-decoration: none;
    text: none;
}


#santos_cerrado{
    text-align: center;
}

footer {
    height: 100px;
    bottom: 0px;
}

.pie {
    height: fit-content;
    padding: 50px;
}

.ubicacion {
    text-align: center;
}

#registrate {
text-align: right;
}

.cuerpo_index {
    text-align: center;
}

.cuerpo {

    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

div {
    text-align: center;
}

label {
    margin:5px
}

form {
    background-color: rgb(206, 205, 205);
    opacity:0.9 ;
    padding:5px;
    margin:2% 25%;
    border-radius: 5px;
}